.avatar {
  padding-top: 40px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.avatar__person-wrapper {
  max-width: 822px;
  display: flex;
}
.avatar__name-wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.avatar__head {
  margin: 0;
  /* max-width: 70%; */
  margin-right: 17px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 133%;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.avatar__subtitle {
  max-width: 600px;
  margin: 0;
  margin-top: 0px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.avatar__kusto {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.avatar__add-button {
  min-width: 150px;
  height: 50px;
  border: 2px solid white;
  background-image: url(../images/plus-sign.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: 0.3s;
  margin-left: 20px;
}

.avatar__edit-icon {
  width: 24px;
  height: 24px;
  border: 2px solid white;
  background-image: url(../images/edit-sign.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: 0.3s;
}

.avatar__edit-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.avatar__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.avatar__name-icon-wrapper {
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-device-width: 768px) {
  .avatar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .avatar__person-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .avatar__head {
    font-size: 27px;
    margin: 0;
    /* margin-right: 0; */
  }
  .avatar__subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .avatar__kusto {
    margin-bottom: 20px;
  }
  .avatar__add-button {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .avatar__name-wrapper {
    margin: 0;
    justify-content: top;
  }
  .avatar__name-icon-wrapper {
    display: flex;
    align-items: top;
  }
}
