.form-popup__btn {
  margin-top: 48px;
  max-width: 358px;
  height: 50px;
  background: white;
  border-radius: 2px;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: 0.05s;
  color: #000;
  border: 1px solid black;
  opacity: 0.2;
}

.form-popup__btn-active {
  background: #000000;
  border: none;
  color: white;
  opacity: 1;
}

.form-popup__btn:hover:enabled {
  opacity: 0.6;
  cursor: pointer;
}
