.form-popup__close-btn {
  border: none;
  background: transparent;
  padding: 0;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/plus-sign.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -20px;
  right: -20px;
  /* background-color: red; */
  z-index: 1000;
  transform: rotate(45deg);
  transition: 0.3s;
}

.form-popup__close-btn:focus {outline:0;}

.form-popup__close-btn:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-popup__close-btn {
    right: 0px;
    top: -40px;
  }
}
