.photo-grid__delete-btn {
  position: absolute;
  right: 15px;
  top: 18px;
  /* width: 10px;
  height: 10px; */
  border: none;
  padding: 0;
  background-color:transparent;
  transition: 0.3s;
  z-index: 50;
  /* display: none; */

}

.photo-grid__delete-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.display{
  display: none;
}
