.avatar {
  padding-top: 40px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .avatar {
    flex-direction: column;
  }
}
